# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/lianki

# Auth Configuration
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Email Configuration (optional)
EMAIL_SERVER=
EMAIL_FROM=

# NextAuth URL
NEXTAUTH_URL=http://localhost:3000
