[submodule "/code/snomiao/lianki/tree/main/packages/pardon-could-you-say-it-again"]
	path = /code/snomiao/lianki/tree/main/packages/pardon-could-you-say-it-again
	url = https://github.com/snomiao/pardon-could-you-say-it-again
